html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Account creation error
    style.
      * {
      margin: 0;
      padding: 0;
      background-color: black;
      }
      .text-center {
      font-size: xx-large;
      text-align: center;
      font-family: "Courier New", Courier, monospace;
      margin-top: 18rem;
      color: orangered;
      }
  body
    h1.text-center Invalid login  try again