doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Fitneshub is a gym and fitness center located in [City, Country]. We offer a wide range of equipment, classes, and personal training options for all fitness levels. Join us today and start your fitness journey!')
    meta(name='keywords', content='gym, fitness center, personal training, [City], [Country]')
    meta(name='author', content='laraib')
    title FitnessHub | Gym &amp; Fitness Center in [City, Country]
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/about.css')
    link(rel='stylesheet', href='/static/css/member.css')
  body
    header.header-section
      nav.navbar.h-nav
        .logo
          a(href='/index')
            img(src='/static/img/slider.img/logo.png', alt='')
        ul.navlist.v-class
          li
            a(href='index') Home 
          li
            a(href='about')  About us
          li
            a#class-link(href='/class')  Classes
          li
            a(href='services')  Services
          li
            a(href='our-team')  our team
          li
            a(id="member-link", href="/member") Become member 
          li
            a(href='sign-up') login 
        .burger
          .line
          .line
          .line
    section.about-banner
      .about-banner-img
        span.about-hed
          h1.member-hed BECOME A MEMBER
    section.become-memeber
      .form-main
        .form-content
          form(action='/form', method='post')
            h1.text-center contact form
            .input-box
              label(for='Enter youre name ') Enter youre name
              input(type='text', placeholder='Enter youre name  ', id='', name='name')
            .input-box
              label(for='Enter youre name ') Enter youre email
              input.email(type='email', placeholder='Enter youre email  ', id='', name='email')
            #num.input-box
              label(for='Enter youre name ') Enter youre number
              input.number(type='number', placeholder='Enter youre number   ', id='', name='number')
            .msg
              textarea(name='msg', id='', cols='30', rows='10', placeholder='Elaburate youre consern')
            button.btn-sub(type='submit')  submit
    footer.footer-section
      .connnect-with-us
        .location-img
          img(src='/static/img/png.img/icons8-region-100.png', alt='')
        span.location-span  333 Middle Winchendon Rd, Rindge
        .android-img
          img(src='/static/img/png.img/icons8-smartphone-96.png', alt='')
        span.android-span  125-711-811
        span.android-span  125-711-811
        .mail-img
          img(src='/static/img/png.img/icons8-gmail-logo-96.png', alt='')
        span.mail-span support gym@gmail.com
      .footer-container
        .logo-text
          .footer-logo
            img(src='/static/img/slider.img/logo.png', alt='')
          p.logo-para
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
            | ut aliquid consectetur quae, ipsum, cumque doloremque mollitia
            | veritatis vero ducimus, natus placeat officiis rem. Reprehenderit
            | eveniet laborum adipisci optio nobis.
          span
            a(href='')
              i.fa-brands.fa-facebook
          span
            a(href='')
              i.fa-brands.fa-instagram
          span
            a(href='')
              i.fa-brands.fa-twitter
          span
            a(href='')
              i.fa-brands.fa-youtube
          span
            a(href='')
              i.fa.fa-envelope(aria-hidden='true')
        .useful-link
          h1.usful-hed Useful links
          ul
            li
              a(id="about-link", href="/about") About
            li
              a(href='') Blog
            li
              a(id="class-link", href="/class") classes
            li
              a(id="member-link", href="/member") Member
        .support-link
          h1.support-hed Support
          ul
            li
              a(href='') About
            li
              a(href='') Blog
            li
              a(href='') classes
            li
              a(href='') Member
        .tips-guide
          h1.tips-hed Tips &amp; Guides
          p.tips-para Physical fitness may help prevent depression, anxiety
          .tips
            p.tips-para Fitness: The best exercise to lose belly fat and tone up...
      hr
      .footer-copyright
        p
          | Copyright &copy; 2023 All rights reserved
          script(src='/static/js/resp.js')